<%- include("partials/header.ejs")  %>

<link rel="stylesheet" href="./styles/home1.css" />

      
</head>
<body>
 
    <div class="desktop-1">
      <div class="desktop-1-child"></div> 
      <div class="rectangle-parent">
        <img class="frame-item" alt="" src="rectangle-1@2x.png" />

        <div class="unleash-the-extraordinary-whe-wrapper">
          <div class="unleash-the-extraordinary-container">
            <span class="unleash-the-extraordinary-container1">
              <p class="unleash-the-extraordinary">&nbsp;</p>
              <p class="unleash-the-extraordinary" style="color:white; font-weight: 400;">
                Unleash the extraordinary, where each click unfolds a new
                chapter in your academic journey.
              </p>
              <p class="blank-line9">&nbsp;</p>
            </span>
          </div>
        </div>
        
        <div class="frame-parent4">
          <div class="login-wrapper">
           
             
            <div class="login">   
              <!-- border-color: transparent; -->
          <a href="/login">
              <button  type=" submit" class="login" style="  font-family: Poppins, sans-serif; font-size: medium;" >
                 Login  
            </button> </a>
          
          <!-- </form> -->
            </div>
        
   
          </div>
          <div class="login-wrapper">
            <!-- <div class="login">    -->
              <!-- border-color: transparent; -->
              <a href="/signup"> 
              <button  type="submit" class="login" style="  font-family: Poppins, sans-serif; font-size: medium;" >
               Sign up
            </button></a>
       
          <!-- </form> -->
            <!-- </div> -->
        </div>
          </div>
        </div>
        <div class="about-us-group">
          <div class="service"><a href="#about">About us</a></div>
          <div class="service"><a href="#serve2">Service</a></div>
          <div class="service"><a href="#bg_3">Contact</a></div>
        </div> 
        <div class="event-horizon-wrapper">
          <b class="event-horizon" id="title" titl_cntent>
            <p class="unleash-the-extraordinary">
              <b>Event </b>
            </p>
            <p class="horizon">Horizon</p>
          </b>
        </div>
      </div>
    </div>

    <%- include("about.ejs")  %>
    <!-- <%-/* include("events.ejs")  */%> -->
    <%- include("services.ejs") %>
    <%- include("contact.ejs")  %>
  </body>
</html>

